/* line 4, scss/_template.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, scss/_template.scss */
body {
  background: #dddddd;
}

/* line 14, scss/_template.scss */
#Above_Header {
  width: 100%;
  height: 133px;
  background: white;
  border-bottom: 1px solid #bcbcbc;
}

/* line 22, scss/_template.scss */
#Header_nav {
  width: 1043px;
  height: 133px;
  margin: 0 auto;
}

/* line 29, scss/_template.scss */
#Header_logo {
  float: left;
}

/* line 34, scss/_template.scss */
#Some_text_under_logo {
  margin-left: 25px;
  margin-top: -35px;
}

/* line 40, scss/_template.scss */
.menu-main-menu-container {
  float: right;
  margin-top: 55px;
}
/* line 46, scss/_template.scss */
.menu-main-menu-container #menu-main-menu li {
  display: inline-block;
  list-style-type: none;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
/* line 54, scss/_template.scss */
.menu-main-menu-container #menu-main-menu li a {
  text-decoration: none;
  color: black;
}

/* line 63, scss/_template.scss */
footer {
  width: 1062px;
  height: 78px;
  margin: 0 auto;
  font-family: ArianAMURegular;
  color: #525253;
  font-size: 14px;
  font-style: italic;
  border-bottom: 1px solid #666666;
}

/* line 75, scss/_template.scss */
.Copyright {
  float: left;
  padding-top: 10px;
}

/* line 81, scss/_template.scss */
#second_item {
  line-height: 25px;
}

/* line 86, scss/_template.scss */
.right_footer {
  float: right;
}

/* line 91, scss/_template.scss */
#masters {
  padding-top: 10px;
}

/* line 96, scss/_template.scss */
#find_us {
  margin-left: 125px;
  margin-top: 8px;
}

/* line 102, scss/_template.scss */
#Logo_row li {
  display: inline-block;
  list-style-type: none;
}

/* line 108, scss/_template.scss */
#arrow_image {
  margin-left: 1161px;
  line-height: 125px;
}

/* line 114, scss/_template.scss */
#arrow_image:hover {
  cursor: pointer;
}

/* line 24, scss/_home-page.scss */
#home #content {
  width: 1062px;
  height: 100%;
  background: #fafafa;
  clear: both;
  margin: 0 auto;
  border: 1px solid #bcbcbc;
  border-top: 0;
}

/* line 35, scss/_home-page.scss */
#home h1, h2 {
  font-size: 25px;
  font-family: ArianAMURegular;
  color: #666666;
  margin-left: 60px;
  padding-top: 40px;
}

/* line 40, scss/_home-page.scss */
#home .section1 {
  padding-top: 20px;
  margin: 0 auto;
  width: 954px;
}
/* line 44, scss/_home-page.scss */
#home .section1 p {
  font-size: 13px;
  color: #525253;
  font-family: ArianAMURegular;
  line-height: 18px;
  text-align: justify;
  margin-left: 6px;
  width: 943px;
  margin-top: 10px;
}
/* line 47, scss/_home-page.scss */
#home .section1 p:last-child {
  margin-bottom: 20px;
}
/* line 50, scss/_home-page.scss */
#home .section1 img {
  padding-left: 6px;
}

/* line 21, scss/_stuff-page.scss */
#coaches #content {
  width: 1062px;
  height: 100%;
  background: #fafafa;
  clear: both;
  margin: 0 auto;
  border: 1px solid #bcbcbc;
  border-top: 0;
}

/* line 33, scss/_stuff-page.scss */
#coaches .alignnone {
  margin-left: 20px;
  padding-top: 10px;
}

/* line 39, scss/_stuff-page.scss */
#coaches .entry-content p:nth-child(2) {
  font-size: 13px;
  color: #525253;
  font-family: ArianAMURegular;
  line-height: 18px;
  margin-left: 20px;
  text-align: justify;
  width: 1022px;
  margin-top: 10px;
}

/* line 43, scss/_stuff-page.scss */
section#coaches {
  margin-top: 80px;
}

/* line 49, scss/_stuff-page.scss */
#coaches .Coach_personality {
  width: 1022px;
  height: 140px;
  margin-left: 20px;
  padding-top: 30px;
}

/* line 57, scss/_stuff-page.scss */
#coaches .Coach_official_image {
  float: left;
}

/* line 62, scss/_stuff-page.scss */
#coaches .About_Coach {
  padding-left: 168px;
}

/* line 67, scss/_stuff-page.scss */
#coaches .Coach_Abilities {
  width: 750px;
  font-size: 16px;
  padding-top: 5px;
}

/* line 74, scss/_stuff-page.scss */
#coaches .Coach_name, #coaches .Coach_Abilities {
  color: #525253;
  font-family: ArianAMURegular;
  line-height: 18px;
}

/* line 79, scss/_stuff-page.scss */
#coaches .Coach_personality:last-child {
  margin-bottom: 30px;
}

/* line 3, scss/_map-page.scss */
#map #content {
  width: 1062px;
  height: 692px;
  background: #fafafa;
  clear: both;
  margin: 0 auto;
  border: 1px solid #bcbcbc;
  border-top: 0;
}

/* line 14, scss/_map-page.scss */
#map .Tumo_map_image {
  margin-left: 20px;
  padding-top: 15px;
}

/* line 20, scss/_map-page.scss */
#map #Explain_smth {
  font-size: 13px;
  color: #525253;
  font-family: ArianAMURegular;
  line-height: 18px;
  margin-top: 10px;
  margin-left: 20px;
}

/* line 30, scss/_map-page.scss */
#map #Image_iframe {
  margin-left: 20px;
  margin-top: 60px;
}

/* line 36, scss/_map-page.scss */
#map #Image_iframe iframe {
  border: 1px solid #bcbcbc;
  display: none;
  overflow: hidden;
}

/* line 34, scss/_about-page.scss */
#about-us #content {
  width: 1062px;
  height: 692px;
  background: #fafafa;
  clear: both;
  margin: 0 auto;
  border: 1px solid #bcbcbc;
  border-top: 0;
}

/* line 44, scss/_about-page.scss */
.entry-title {
  font-size: 25px;
  font-family: ArianAMURegular;
  color: #666666;
  margin-left: 44px;
  padding-top: 40px;
}

/* line 48, scss/_about-page.scss */
#about-us .entry-content p:nth-child(1) {
  margin-left: 44px;
  margin-top: 20px;
}
/* line 7, scss/_about-page.scss */
#about-us .entry-content p:nth-child(1) img {
  padding-left: 5px;
}

/* line 53, scss/_about-page.scss */
#about-us .entry-content p:nth-child(3) {
  font-size: 13px;
  color: #525253;
  font-family: ArianAMURegular;
  line-height: 18px;
  text-align: justify;
  margin-left: 44px;
  width: 951px;
  margin-top: 10px;
}

/* line 58, scss/_about-page.scss */
#about-us #GOOD_Luck {
  font-style: Italic;
  font-weight: bold;
  font-size: 20px;
  margin-left: 44px;
  line-height: 50px;
  color: #666666;
}
