$body_height:1062px;
@mixin paragraphs
{
	font-size:13px;
    color:#525253;
    font-family:ArianAMURegular;
    line-height:18px;
    text-align:justify;
	margin-left:6px;
	width:951px;
	margin-top:10px;
}
#about-us 
{
	#content
		{
			width:$body_height;
			height:auto;
			background:#fafafa;
			clear:both;
			margin:0 auto;
			border:1px solid #bcbcbc;
			border-top:0;
		}
	header h1
		{
			font-size:25px;
			font-family:ArianAMURegular;
			color:#666666;
			margin-left:55px;
			padding-top:40px;
		}
	
	
	.section1
		{
			padding-top:20px;
			margin:0 auto;
			width:954px;
			p:last-child{
				margin-bottom:20px;
				@include paragraphs;
			}
			img{
					padding-left:6px;
			}
		}
		

		
	#GOOD_Luck
		{
			font-weight:bold;
			font-size:20px;
			margin-left:55px;
			line-height:60px;
			color:#000;
		}
}

@media screen and (max-width: 1024px){


	#about-us #content{
		width: 100%;
	}

	#about-us .section1{
		width: 89.3%;
	}

	#about-us .section1 img{
		width: 32%;
		padding-left: 1%;
	}

	#about-us .section1 p:last-child{
		width: 98%;
	}

}

@media screen and (max-width: 735px){


	#about-us .section1 img{
		width: 97.9%;
		height: auto;
		padding-left: 1%;
	}

	#about-us .section1 p:last-child{
		width: 98%;
	}

	#about-us header h1 {
	
		font-size: 19px;
		font-family: ArianAMURegular;
		color: #666666;
		margin-left: 0px;
		padding-top: 40px;
		text-align: center;

	}	

	#about-us #GOOD_Luck{
		font-size: 16px;
		line-height: 41px;
		text-align: center;
		width: 100%;
		display: block;
		margin-left: 0px;
	}

}