$body_height:1062px;
@mixin paragraphs
{
	font-size:13px;
    color:#525253;
    font-family:ArianAMURegular;
    line-height:18px;
    text-align:justify;
	margin-left:6px;
	width:943px;
	margin-top:10px;
}

@mixin headings
{
	font-size:25px;
	font-family:ArianAMURegular;
	color:#666666;
	margin-left:60px;
	padding-top:40px;
}

#home #content
{
	width:$body_height;
	height:100%;
	background:#fafafa;
	clear:both;
	margin:0 auto;
	border:1px solid #bcbcbc;
	border-top:0;
}

#home h1,h2
{
	@include headings;
}

#home .section1
{
	padding-top:20px;
	margin:0 auto;
	width:954px;
	p{
		@include paragraphs;
	}
	p:last-child{
		margin-bottom:20px;
	}
	img{
			padding-left:6px;
	}
}





