$body_height:1062px;
@mixin paragraphs
{
	font-size:13px;
    color:#525253;
    font-family:ArianAMURegular;
    line-height:18px;
    text-align:justify;
	margin-left:6px;
	width:943px;
	margin-top:10px;
}

@mixin headings
{
	font-size:25px;
	font-family:ArianAMURegular;
	color:#666666;
	margin-left:60px;
	padding-top:40px;
}

*{
	transition:all 0.5s;
}

#home 
{



	#content
		{
			width:$body_height;
			height:100%;
			background:#fafafa;
			clear:both;
			margin:0 auto;
			border:1px solid #bcbcbc;
			border-top:0;
		}
		
	 h1,h2
		{
			@include headings;
		}
		
		
	.section1
		{
			padding-top:20px;
			margin:0 auto;
			width:954px;
			p{
				@include paragraphs;
			}
			p:last-child{
				margin-bottom:20px;
			}
			img{
					padding-left:6px;
			}
		}
}


@media screen and (max-width: 1081px){

	#home #content{
		width: 100%;
	}

	#home .section1{
		width: 100%;
		text-align: center;
	}

	#home .section1 img{
		width: 30%;
		margin: 0% 0.01%;
	}

	#home .section1 p{
		width: 84%;
	}

	#home .section1 p:last-child{
		margin: 20px auto;
	}

	#homeImages{
		width: 70%;
		margin: 0px auto;

	}

	#home h1{
		text-align: center;
	}



	#Header_logo{
		float: none;
		margin: 0px auto;
		width: 168px;
	}





}


@media screen and (max-width: 816px){

	#home .section1 img{
		width: 84.3%;
		margin: 0% 0.01%;
		height: auto;
	}

	.menu-main-menu-container #menu-main-menu li{
		display: block;
		margin-bottom: 15px;
		text-align: center;
	}

	.menu-main-menu-container{
		width: 185px;	
	}


	#Above_Header{
		height: 352px;
	}

	#home h1, #home h2{
		margin-left: 0px;
		font-size: 18px;
		text-align: center;
	}

}





