$body_height:1062px;
@mixin image_table
{
	margin-left:44px;
	margin-top:20px;
	img
	{
		padding-left:5px;
	}
}

@mixin paragraphs
{
	font-size:13px;
    color:#525253;
    font-family:ArianAMURegular;
    line-height:18px;
    text-align:justify;
	margin-left:44px;
	width:951px;
	margin-top:10px;
}

@mixin headings
{
	font-size:25px;
	font-family:ArianAMURegular;
	color:#666666;
	margin-left:44px;
	padding-top:40px;
}

#home #content
{
	width:$body_height;
	height:2015px;
	background:#fafafa;
	clear:both;
	margin:0 auto;
	border:1px solid #bcbcbc;
	border-top:0;
}

#home h1,h2
{
	@include headings;
}

#home .entry-content p:nth-child(1),.entry-content p:nth-child(2),.entry-content p:nth-child(5),.entry-content p:nth-child(8)
{
	@include image_table;
}

#home .entry-content p:nth-child(3),.entry-content p:nth-child(6),.entry-content p:nth-child(9),.entry-content p:nth-child(11)
{
	@include paragraphs;
}





