@mixin paragraphs
{
	font-size:13px;
    color:#525253;
    font-family:ArianAMURegular;
    line-height:18px;
	margin-left:20px;
	text-align:justify;
	width:1022px;
	margin-top:10px;
}

@mixin styles
{
	color:#525253;
	font-family:ArianAMURegular;
	line-height:18px;
}

#coaches 
{
	#content
		{
			width:$body_height;
			height:100%;
			background:#fafafa;
			clear:both;
			margin:0 auto;
			border:1px solid #bcbcbc;
			border-top:0;
		}
		
	.alignnone 
		{
			margin:0 auto;
			padding-top:10px;
			width:1022px;
			height:650px;
			img
				{
					width:1022px;
					height:650px;
					position:absolute;
				}
		}
		
	#desc
		{
			@include paragraphs;
		}
		
	section#coaches{
		margin-top:80px;
	}
	
	.Coach_personality
		{
			width:1022px;
			height:140px;
			margin-left:20px;
			padding-top:30px;
		}
		
	.Coach_official_image
		{
			float:left;
		}
		
	.About_Coach
		{
			padding-left:168px;
		}
		
	.Coach_Abilities
		{
			width:750px;
			font-size:16px;
			padding-top:5px;
		}
	
	.Coach_name,#coaches .Coach_Abilities
		{
			@include styles;
		}
		
	.Coach_personality:last-child
		{
			margin-bottom:30px;
		}
}



